.header {
    grid-area: header;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    background-color: rgb(58 122 182);
    color: white;
}

.header svg {
    height: 70%;
    max-width: fit-content;
    cursor: pointer;
}

.loginBlock a {
    text-decoration: none;
    color: white;
}

